@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);

body {
  background-image: url("../image/pink_rice.png");
  font-size: 16px;
  font-family: "Patrick Hand SC";
  color: rgb(93,16,26);
}
main {
border: 5px rgb(193,133,41) solid;
margin: 0 auto;
background-color: transparent;
width: 600px;
}


header {
border-top: 3px transparent
border-bottom: 40px solid rgb(93,16,26);
padding-top: 20px;
padding-bottom: 20px;
min-height: 140px;
color: rgb(93,16,26);
}

#index {
background-color: rgb(93,16,26);
}

#movingit {
  margin-left: 18px;
  position: absolute;
  bottom: 42px;
}

#navbarstyle {
position: absolute;
bottom: 0px;
width: 100%;
}

#ulstylebar {
  padding: 5px;
}


#movingimages {
position: relative;
padding: 10px;
margin: auto;
margin-top: 170px;
width: 60%;
}

h1 {
  font-size: 72px;
  position:static;
  text-align: center;
  margin: auto;

}

nav{
text-align: center;
}


ul {
  list-style-type: none;
  margin: -8px;
  padding: 17px;
  overflow: hidden;
}

li {
float: right;
}

li a {
  display: grid;
  color: rgb(193,133,41);
  text-align: center;
  padding: 16px 20px;
  text-decoration: none;

div {
align-items: center;
}


a {
  color: rgb(93,16,26);
}

a:visited {
color: white;
}

a:hover {
  color: rgb(249,218,169);
