@media (max-width: 320px) {

body {
  font-size: 24px;
}

nav {
text-align: center;
margin-left: 30px;
margin-right: 30px;
}

main {
 width: 900px;
}

#video1 {
width: 320px;
height: 215px;
margin-left: 105px;
}

#video2 {
  width: 320px;
  height: 215px;
  margin-right: -120px;
}

.image {
display: none;
}

#video3 {
  margin-left: 205px;
}

#index {
margin-right: -20px;
}








}
